@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@400;500;600;700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  text-align: center;
  font-family: 'Fredoka', sans-serif;
  background-color: #FFEDE2;
  font-size: 100%;
  width: 100%;
  min-height: 100vh;
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* ALL */
.btn-all {
  padding: 0.9rem 1.7rem;
  font-size: 1.2rem;
  border-radius: 11px;
  border: none;
  cursor: pointer;
  font-family: 'Fredoka', sans-serif;
  font-weight: 600;
  box-shadow: 2px 2px 20px 10px rgba(128, 128, 128 , 0.2);
  transition: all 0.3s;
}

.back-button {
  background-color: #0B1350;
  color: #FFEDE2;
  margin-right: 1rem;
}

.edit-button {
  background-color: #FFEDE2;
  color: #0B1350;
}

.back-button:hover, .edit-button:hover, .btn--signup:hover {
  filter: brightness(90%);
}


/* NAVBAR */
.navbar-container {
  background-color: #0B1350;
  height: 4.6rem ;
  display: flex;
  justify-content:space-between;
  font-size: 2rem;
  align-items: center;
  padding: 0.5rem 1rem;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.navbar-img-user-box {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.navbar-username {
  color: #ED905D;
  font-weight: 600;
}

.logout-btn {
  font-size: 1.2rem;
  font-family: 'Fredoka', sans-serif;
  background-color: #FFEDE2;
  padding: 3px 7px;
  color: #0B1350;
  border-radius: 7px;
  border: none;
  margin-left: 1rem;
}

.navbar-links-container {
  display: flex;
  gap: 2rem;
}

.navbar-link-box {
  color: #ED905D;
  text-decoration: none;
}

.cat-logo-img {
  width: 4.4rem;
  height: 4.4rem;
}

/* STICKY */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
  background-color: rgb(11, 19, 80, 0.95);
  transition: all 0.7s;
}

.scroll {
  padding-top: 3rem
}

/* HOMEPAGE */

.section-hero {
  background-color: #FFEDE2;
  padding: 1rem 0 0 0;
}

.home-grid {
  max-width: 95rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns:  0.5fr 1fr;
  align-items:center;
  padding: 0 1.5rem;
}

.grid--start {
  align-items: start;
  gap: 2rem;
}

.home-container-two img {
  width: 84%;
  object-fit: cover;
}

.home-container-one {
  background-color: #ED905D;
  /* display: flex;
  flex-direction: column; */
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  padding: 1rem;
  width: 100%;
  overflow: hidden;
}

.home-text {
  font-size: 1.4rem;
  overflow-wrap: break-word;
  margin-top: 1.5rem;
  line-height: 1.5;
}

.btn--singup {
  text-transform: uppercase;
  margin: 1.2rem 0;
  background-color: #0B1350;
  color: #ED905D;
  transition: all 0.3s;
}

.btn--singup:hover {
background-color: #FFEDE2;
color: #0B1350;
transform: scale(1.1);
}

.btn--get-fact {
  margin: 1.2rem 0;
  color: #0B1350;
  background-color: #FFEDE2;
  transition: all 0.3s;
  text-transform: uppercase;
}

.btn--get-fact:hover {
  background-color: #0B1350;
  color: #ED905D;
  transform: scale(1.1);
}

.api-fact {
  font-size: 1.1rem;
  font-weight: 500;
  margin-bottom: 1.5rem;
  line-height: 1.4;
}

/* ALL CATS PAGE */

.all-cats--page {
  background-color: #FFEDE2;
  min-height: 100vh;
}
.cats-page-container {
display: flex;
flex-wrap: wrap;
justify-content: space-around;
padding: 1rem;

}

.cat-box {
  background-color: #ED905D;
  width: 17rem;
  height: 25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 9px;
  margin-top: 3rem;
  box-shadow: rgb(11, 19, 80, 0.4) 0px 0px 0px 2px, rgb(11, 19, 80, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

.cat-box-img {
  /* width: 17vw;
  height: 21vw; */
  border-radius: 5px;
  width: 14rem;
  height: 20rem;
  object-fit: cover;
}

.cat-box-link {
  text-decoration: none;
  color: #0B1350;
}

.cat-box-link-and-img {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
}

.paw-icon {
  width: 2rem;
  height: 2rem;
}

.filter-search-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  margin-top: 2.5rem;
}

.filter-box {
  display: flex;
  gap: 1rem;
  align-items: center;
  font-size: 1.2rem;
  color: #0B1350;
  font-weight: 500;
}

.filter-box select {
  margin-left: 0.5rem;
  padding: 3px 7px;
  border-radius: 7px;
  border: 1px solid #ed8f5d49;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
  color: #0B1350;
  background-color: #ed8f5d44;
  font-family: 'Fredoka', sans-serif;
}

.filter-box select {
  font-size: 1.2rem;
  width: 9rem;
}

.search-bar {
  padding: 0.5rem;
  border-radius: 7px;
  width: 20%;
  font-size: 1.2rem;
  font-family: 'Fredoka', sans-serif;
  color: #0B1350;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
  background-color: #ed8f5d44;
  border: 1px solid #ed8f5d49;


}

/* ADD CAT */

.big-container {
  background-color: #FFEDE2;
  padding: 1rem;
  min-height: 100vh;
}

.big-heading {
  font-size: 3rem;
  margin-top: 1.6rem;
  color: #0B1350;
  margin-bottom: 2rem;
}

.add-cat-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-box {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  width: 50vw;
  max-width: 60vw;
  
}

.form-box label {
  font-size: 1.6rem;
  font-weight: 500;
  padding: 0.5rem;
  text-align: start;
  color: #0B1350;
}


.form-box input,
.form-box textarea,
.form-box select {
  width: 50%; /* Set all inputs to the same width */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 1rem;
  font-size: 1.2rem;
  color: #0B1350;
  font-weight: 500;
  font-family: 'Fredoka', sans-serif;
}

.form-box select {
  /* Ensure that the select element takes up the same width as the input elements */
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.btn {
  margin-top: 1.5rem;
  font-size: 2rem;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 7px;
  background-color: #ED905D;
  cursor: pointer;
  font-family: 'Fredoka', sans-serif;
  font-weight: 600;
  box-shadow: 2px 2px 20px 10px rgba(128, 128, 128 , 0.2);
}

.btn:hover {
  filter: brightness(95%);
}

.btn:active {
  transform: scale(0.98);
}

.upload-pet {
  background-color: #0B1350;
  padding: 9px;
  border-radius: 15px;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  color: #ED905D;
  font-family: 'Fredoka', sans-serif;
  font-size: 1.2rem;
}

.upload-pet::file-selector-button {
  background-color: #ED905D;
  border: none;
  padding: 5px 10px;
  border-radius: 10px;
  font-family: 'Fredoka', sans-serif;
  color: #0B1350;
  margin-right: 1.5rem;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
}

.upload-pet::file-selector-button:hover {
  background-color: #FFEDE2
}

.edit-page-upload-img {
  display: flex;
  flex-direction: column;
  color: #0B1350;
  font-size: 1.2rem;
}

/* LOCATIONS */

.locations-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

.location-box {
  margin-bottom: 1rem;
}

.location-box img {
  margin-bottom: 5px;
}

/* CAT DETAILS */

.cat-details-info-box {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 1rem;
  background-color: #ED905D;
  color: #0B1350;
  padding: 2rem 1rem;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}


.cat-details-heading {
  font-size: 2.5rem;
  font-weight: 300;
}

.cat-details-heading span {
  font-weight: 700;
}

.cat-details-info-box p {
  font-size: 1.5rem;
}

.btn-container {
  margin-top: 1.5rem;
}

/* CAROUSEL */

.carousel-container {
display: flex;
justify-content: center;
gap: 1.5rem;
}

.icon-direction-btn {
  background-color: #FFEDE2;
  border: none;
}

.carousel-img {
  width: 25rem;
  height: 29rem;
  object-fit: cover;
  border-radius: 5px;

}

.section {
  padding: 5rem 0;
}

.cat-details--grid {
  grid-template-columns: 1fr 1fr;
}


/* LOCATION DETAILS */

/* .cats-photo--gallery {
display: grid;
grid-template-columns: repeat(3, 1fr);
gap: 1rem;
padding: 1.2rem;
} */

.cats-photo--gallery {
  column-count: 4;
  column-gap: 1rem;
}

.gallery-item {
  overflow: hidden;
  /* height: 12rem ; */
}

.gallery-item img {
  display: block;
  width: 100%;
  height: auto;
  object-fit:cover;
  transition: all 0.4s;
  margin-bottom: 1rem;
}

.gallery-item img:hover {
  transform: scale(1.1);
}



/* SIGN UP */

.sign-up--grid {
  display: grid;
  grid-template-columns: 0.5fr 1fr;
  width: 70vw;
  margin: 0 auto;
  margin-top: 4rem;
  overflow: auto;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

}

.signup-container {
  background-color: #ED905D;
  width: 100%;
  padding: 1.5rem 0;
}

.signup-container h1 {
  font-size: 2.7rem;
  color: #0B1350;
}

.signup-form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 2rem;
  gap: 1rem;
}


.signup-input {
font-size: 1.5rem;
padding: 0.5rem;
border-radius: 7px;
background-color: #FFEDE2;
color: #0B1350;
border: 2px solid #0b135034;
font-family: 'Fredoka', sans-serif;
box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
}

.signup-img-container {
  background-color: #0B1350;
}

.signup-role-box {
  margin: 1rem 0;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.signup-role-box label {
  font-size: 1.2rem;
  font-weight: 600;
  color: #0B1350;
}

.signup-role-box select {
  font-family: 'Fredoka', sans-serif;
  font-size: 1.2rem;
  padding: 0.5rem 1rem;
  border-radius: 7px;
  background-color: #FFEDE2;
color: #0B1350;
border: 2px solid #0b135034;
box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
}

.btn--signup {
  background-color: #0B1350;
  color: #FFEDE2;
  font-size: 1.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.7rem;
  width: 60%;
}

.btn--signup img {
  width: 2rem;
  height: 2rem;
}

.signup-login-text {
  font-size: 1.3rem;
  color: #FFEDE2;
  margin-bottom: 0.5rem;
  margin-top: 1rem;
}

.login-link:link,
.login-link:visited {
  text-decoration: none;
  color: #0B1350;
  font-size: 1.5rem;
  font-weight: 600;
  transition: all 0.5s;
}

.login-link:hover,
.login-link:active {
  color: #FFEDE2;
}

/* EDIT CAT UPLOAD */
.upload-img-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 2rem 0
}

.upload-img-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 13rem;
  gap: 1rem;
}

.cat-img-upload {
  width: 85%;
  border-radius: 5px;
  
}

.upload-img-delete--btn {
  font-size: 1rem;
  border-radius: 5px;
  padding: 5px 7px;
  border: none;
  background-color: #ED905D;
  color: #0B1350;
  font-weight: 700;
  cursor: pointer;

}

.delete--option {
  background-color: #0B1350;
  color: #ED905D;
}


/* .home-grid {
  max-width: 90rem;
 
  display: grid;
  grid-template-columns:  0.5fr 1fr;
  margin: 0 auto;
  align-items:center;
  padding: 1rem 1rem 0 1rem;
} */



/* .login-form{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.form-box{
  margin-top: 7vh;
  opacity:80%;
  background: black;
  padding-right: 80px;
  padding-left: 80px;
  border-radius: 20px;
  box-shadow: 10px 10px 10px 1px rgba(0, 0, 0, 0.2);
}

.show {
  display: block;
  transition: 800ms;
  opacity: 1;
}

.show.active {
  transform: translateY(100px) scale(0) rotateY(180deg);
  opacity: 0;
} */


 .openModalBtn {
  width: 200px;
  height: 40px;
  border: none;
  border-radius: 6px;
  background-color: cornflowerblue;
  color: white;
  cursor: pointer;
}

.modalBackground {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  z-index: 999; /* Ensure modal is on top */
}

.modalContainer {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}
