@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@400;500;600;700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  text-align: center;
  font-family: 'Fredoka', sans-serif;
  background-color: #FFEDE2;
  font-size: 100%;
  width: 100%;
  min-height: 100vh;
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* ALL */
.btn-all {
  padding: 1rem 1.5rem;
  font-size: 1.2rem;
  border-radius: 11px;
  border: none;
  cursor: pointer;
  font-family: 'Fredoka', sans-serif;
  font-weight: 600;
  box-shadow: 2px 2px 20px 10px rgba(128, 128, 128 , 0.2);
  transition: all 0.3s;
}

.back-button {
  background-color: #0B1350;
  color: #FFEDE2;
  margin-right: 1rem;
}

.edit-button {
  background-color: #FFEDE2;
  color: #0B1350;
}

.back-button:hover, .edit-button:hover {
  filter: brightness(90%);
}


/* NAVBAR */
.navbar-container {
  background-color: #0B1350;
  height: 4.6rem ;
  display: flex;
  gap: 1rem;
  font-size: 2rem;
  align-items: center;
  padding: 0.5rem 1rem;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  
}

.navbar-link-box {
  color: #ED905D;
  text-decoration: none;
}

.cat-logo-img {
  width: 4.4rem;
  height: 4.4rem;
}

/* HOMEPAGE */

.home-grid {
  max-width: 90rem;
 
  display: grid;
  grid-template-columns:  0.5fr 1fr;
  margin: 0 auto;
  align-items: center;
  padding: 1rem;
}

.home-container-two img {
  width: 80%;
  padding: 0.5rem;
}

.home-container-one {
  background-color: #ED905D;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  justify-self: end;
  width: 80%;
 
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}


/* ALL CATS PAGE */

.all-cats--page {
  background-color: #FFEDE2;
  min-height: 100vh;
}
.cats-page-container {
display: flex;
flex-wrap: wrap;
justify-content: space-around;
padding: 1rem;

}

.cat-box {
  background-color: #ED905D;
  width: 20rem;
  height: 27rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 9px;
  margin-top: 3rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.cat-box-img {
  /* width: 17vw;
  height: 21vw; */
  border-radius: 5px;
  width: 15rem;
  height: 20rem;
}

.cat-box-link {
  text-decoration: none;
  color: #0B1350;
}

.cat-box-link-and-img {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
}

.paw-icon {
  width: 2rem;
  height: 2rem;
}

.filter-search-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  margin-top: 2.5rem;
}

.search-bar {
  padding: 0.5rem;
  border-radius: 11px;
}

/* ADD CAT */

.big-container {
  background-color: #FFEDE2;
  padding: 1rem;
  min-height: 100vh;
}

.big-heading {
  font-size: 3rem;
  margin-top: 1.6rem;
  color: #0B1350;
  margin-bottom: 2rem;
}

.add-cat-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-box {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  width: 50vw;
  max-width: 60vw;
  
}

.form-box label {
  font-size: 1.6rem;
  font-weight: 500;
  padding: 0.5rem;
  text-align: start;
  color: #0B1350;
}


.form-box input,
.form-box textarea,
.form-box select {
  width: 50%; /* Set all inputs to the same width */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 1rem;
  font-size: 1.2rem;
  color: #0B1350;
  font-weight: 500;
  font-family: 'Fredoka', sans-serif;
}

.form-box select {
  /* Ensure that the select element takes up the same width as the input elements */
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.btn {
  margin-top: 1.5rem;
  font-size: 2rem;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  background-color: #ED905D;
  cursor: pointer;
  font-family: 'Fredoka', sans-serif;
  font-weight: 600;
  box-shadow: 2px 2px 20px 10px rgba(128, 128, 128 , 0.2);
}

.btn:hover {
  filter: brightness(95%);
}

.btn:active {
  transform: scale(0.98);
}

/* LOCATIONS */

.locations-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

/* CAT DETAILS */

.cat-details-info-box {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 1rem;
  background-color: #ED905D;
  color: #0B1350;
  padding: 2rem 1rem;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.cat-details-img-box {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-self: center;
 
}

.cat-box-img {
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.cat-details-heading {
  font-size: 2.5rem;
  font-weight: 300;
}

.cat-details-heading span {
  font-weight: 700;
}

.cat-details-info-box p {
  font-size: 1.5rem;
}

.btn-container {
  margin-top: 1.5rem;
}



.section {
  padding: 3rem 0;
  /* height: 100%; */
}


/* LOCATION DETAILS */
.cats-photo-container {
  
}




